#  Подключение к базе данных Postgres
DB_NAME=test_auth_database
DB_USER=app
DB_PASSWORD=123qwe
DB_HOST=pg_db
DB_PORT=5432

#  Суперпользователь Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=megasecret_word

#  Конфиг Redis
REDIS_HOST=redis
REDIS_PORT=6379

#  Конфиг приложения
SECRET_KEY=secret_key
JWT_SECRET_KEY=secret_key
SQLALCHEMY_DATABASE_URI=postgresql://$DB_USER:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_NAME
REDIS_URL=redis://$REDIS_HOST:$REDIS_PORT/0